<% provide(:title, '利用規約') %>
<div class="row">
  <div class= "col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
    <h1>利用規約</h1>
    <h2>InstaAppへようこそ！</h2>
    <p>この利用規約は、InstaAppをご利用いただく際に適用されるものであり、InstaAppサービスに関する情報を提供するものです。InstaAppアカウントを作成する場合、またはInstaAppをご利用になる場合は、本規約に同意していただくことになります。</p>
    <%= link_to '戻る', :back %>
  </div>
</div>
